<% title t(".title", :name => @hist_obj.name) %>

<div style="padding-top:20px;padding-bottom:20px">
  <%= form_tag({}) do %>
  <%= render :partial => "/global/date_range_dropdown", :locals => {:name => "date_range"}%>
  <%= hidden_field_tag :recordable_type, @hist_obj.class.to_s %>
  <%= hidden_field_tag :recordable_id, @hist_obj.id %>
  <button type="submit"> <%= t "forms.filter_button" %> </button>
  <% end %>
</div>

<%= render :partial => "action_history", :locals => {:by_user => true} %>
