<p id="notice"><%= notice %></p>
<div><%= @second_watched_model.name %></div>
<div><%= @second_watched_model.watcher %></div>
<div><%= @second_watched_model.status %></div>


<%= link_to 'Edit', edit_second_watched_model_path(@second_watched_model) %> |
<%= link_to 'Back', second_watched_models_path %>
