<% title "Action History #{@user ? 'for ' + @user.username : ''}" %>

<div id="filter_div" style="padding-top:20px;padding-bottom:20px">
  <%= form_tag({}) do %>
    <%= render :partial => "/global/date_range_dropdown", :locals => {:name => "date_range"}%>
    <label style="padding-top: 10px" class="pt-row">
      <span class="pt-label">User</span>
      <span class="pt-input-wrapper">
        <%= select_tag :id, options_from_collection_for_select(@users, :id,
            :username, :selected => @user.nil? ? "" : @user.id), :include_blank => "Choose one" %>
      </span>
    </label>
    <label class="pt-row">
      <span class="pt-label">Type</span>
      <span class="pt-input-wrapper">
        <%= select_tag :recordable_type, options_for_select(@types, :selected => @type), :include_blank => "All" %>
      </span>
    </label>
    <% if @models %>
      <label id="<%=@type.downcase%>_name" class="pt-row">
        <span class="pt-label"><%= @type%> Name</span>
        <span style="padding-top: 10px" class="pt-input-wrapper">
          <%= select_tag :recordable_id, options_for_select(@models, :selected => @recordable_id),
            :include_blank => "All" %>
        </span>
      </label>
    <% end %>
    <div class="pt-formbuttons">
      <button type="submit"> Filter </button>
    </div>
  <% end %>
  <script type="text/javascript">
    $("div#filter_div select").change(function(){
      $(this).parents("form").submit();
    });
  </script>
</div>

<%= render :partial => "action_history", :locals => {:by_user => false} %>

<% if @type %>
<script type="text/javascript">
  $("select#recordable_type").change(function(){
    if($(this).val() != "<%= @type %>"){
      $("label#<%=@type.downcase%>_name").hide();
      $("select#recordable_id").attr('name', '')
    } else {
      $("label#<%=@type.downcase%>_name").show();
      $("select#recordable_id").attr('name', 'recordable_id')
    }
  });

</script>
<% end %>
